<script>
  $( function() {
      setTimeout( hideBlackScreen, 2000);
  });
  
  function hideBlackScreen () {
      $( "#blackScreen" )
	  .hide(
	      "slide",
	      { direction: "right" },
	      4000,
	      firstAnim
	  )};


    // Audio files are royalty-free from http://www.soundjay.com/typewriter-sounds.html.
  var carriageReturnSound = new Howl({
      src: ['assets/js/typewriter/typewriter-carriage-return.mp3'],
      preload: true
  });
  var keystrokeSound = new Howl({
      src: ['assets/js/typewriter/typewriter-keystroke.mp3'],
      preload: true
  });
  var currentSound = null;

  var backgroundMusic = new Howl({
      src: ['assets/audio/background.mp3', 'assets/audio/background.ogg'],
      loop: true,
      volume: 0.2,
      preload: true
  });
  
  var hOneText = [
      "ПРУСАКОВ СЕРГЕЙ",

  ];
  var hSecText = [
      "PRUSAKOV SERGEI",
  ];

  var hBiographyRu = [ "Родился 14 октября 1958 г. в г. Можайск Московской области. Школа, армия, институт. Образование - архитектор (архитектурный факультет МииЗ). Член МОО ВТОО «Союз художников России». Участник разных выставок, конкурсов.\n",
		       "Детство выпало на 60-е годы. Музыка, одежда, автомобили, книжная графика того времени имеют свое неповторимое лицо.\n",
		       "Такие мастера как Леонид Сойфертис, Анатолий Кокорин, Кукрыниксы, Генрих Вальк, Иван Семенов, американская династия Уайтов, великий датчанин Херлуф Бидструп, непревзойденные советские мультфильмы. Всё это, вместе взятое, повлияло на меня, как на художника.\n",
		       "Часто хочется в то время. Там было хорошо..."
		     ];

  var hBiographyEn = [ "Prusakov Sergey Alekseevich was born on 14 October, 1958, in Mozhaisk, Moscow Region. School. Army. Institute. His education is an architect (faculty of architecture of Moscow State University of Land Management). Member Of The Union Of Artists Of Russia. Participant of exhibitions.\n",

		       "Childhood fell on the 60s. Music, fashion, cars, cinema, book graphics of that time have their own unique face.\n",

		       "Such masters of the drawing as Leonid Soyfertis, Anatoliy Kokorin, Kukryniksy, Heinrich Valk, Ivan Semenov, White American dynasty, great Herluf Bidstrup, unsurpassed Soviet cartoons - all this together influenced me.\n",
      
		       "Often want to return to that time. It was nice there..."
  ];
  
  function animate(typewriter, text, delayTime,callbackfunc) {
      sequence = [];
      
      for (var i in text) {
	  sequence.push({
	      text: text[i],
	      delayAfter: delayTime,
	  });
      }

      
      sequence.push({
	  text: "",
	  callback: callbackfunc
      });
	  
      typewriter.playSequence(sequence);
  }
  
  
  function playSound (character) {
      var nextSound = null;
      carriageReturnSound.pause();
      keystrokeSound.pause();
      
      if (character == "\n") {
          carriageReturnSound.currentTime = 0;
          nextSound = carriageReturnSound;
      } else if (character != " ") {
          keystrokeSound.currentTime = 0;
          nextSound = keystrokeSound;
      }
      
      if (nextSound != null) {
          if (currentSound != null) {
              currentSound.stop();
          }
          currentSound = nextSound;
          currentSound.play();
      }
  }
  function firstAnim() {
      var typewriter = new Typewriter($("#typewriter01"));
      typewriter.setCaret("");
      typewriter.setCaretPeriod(0);
      typewriter.setDelay(300, 100);
      typewriter.setCharacterCallback(playSound);
      animate(typewriter, hOneText, 500, function () {showDoubleScreenBottom()});
  }
  
  function secondAnim() {
      var typewriter = new Typewriter($("#typewriter02"));
      $( "#preloader-doubleScreen-bottom" ).css("display", "flex");
      typewriter.setCaret("");
      typewriter.setCaretPeriod(0);
      typewriter.setDelay(300, 100);
      typewriter.setCharacterCallback(playSound);
      animate(typewriter, hSecText, 500, function() {showBiography()});
  }

  function showDoubleScreenBottom () {
      $( "#preloader-doubleScreen-bottom" )
	  .show(
	      "slide",
	      { direction: "right" },
	      4000,
	      secondAnim
	  )};

  function showBiography () {
      setTimeout( hideDoubleScreen, 500);
  };
  
  function hideDoubleScreen () {
      $( "#doubleScreen" )
	  .hide(
	      "fade",
	      {},
	      2000,
	      fadeInBiography
	  )
  };


  
  function fadeInBiography () {
    $( "#biographyScreen" )
	  .show(
	      "fade",
	      {},
	      2000,
	      showBiographyRuEn
	  )
  };  

  function printBiographyRu () {
      var typewriter = new Typewriter($("#BiographyRU"));
      typewriter.setCaret("");
      typewriter.setCaretPeriod(0);
      typewriter.setDelay(50, 25);
      // typewriter.setCharacterCallback(playSound);
      animate(typewriter, hBiographyRu, 50, function () {closePreloader()} );
  };
  
  function printBiographyEn () {
      var typewriter2 = new Typewriter($("#BiographyEN"));
      typewriter2.setCaret("");
      typewriter2.setCaretPeriod(0);
      typewriter2.setDelay(50, 25);
      // typewriter.setCharacterCallback(playSound);
      animate(typewriter2, hBiographyEn, 50);
  };

  function showBiographyRuEn () {
      printBiographyRu();
      printBiographyEn();
  };


  
  function closePreloader () {
      setTimeout(hidePreloader, 15000);
      jQuery("#gal01").nanogallery2();
  };

  
  function hidePreloader () {
      $( "#preloader" )
	  .hide(
	      "fade",
	      {},
	      2000,
	      startBM
	  )
  };

  function startBM () {
      backgroundMusic.play();
  };
  
</script>  
