<div id="preloader" class="preloader">
  <div id="blackScreen" class="preloader-blackScreen">
  </div>
  <div id="doubleScreen" class="preloader-doubleScreen" style="font-size: 5vw">
    <div class="preloader-doubleScreen-top">
      <p id="typewriter01" class="typewriter01 text-center"></p>
    </div>
    <div id="preloader-doubleScreen-bottom" class="preloader-doubleScreen-bottom">
      <p id="typewriter02" class="typewriter02 text-center"></p>
    </div>
  </div>
  <div id="biographyScreen" style="font-size: 2.4vmin">
    <div style="background:#e0e0e0;height:10vh;">
    </div>
    <div class="container-fluid" style="height:85vh;background: linear-gradient(to bottom, #e0e0e0 0%, #e0e0e0 50%, black 50%,black 100%);">
      <div class="row">
	<div class="col-xs-9" style="height:100%">
	  <div class="preloader-biographyScreen-top">
	    <p id="BiographyRU" style=" white-space: pre-line;"></p>
	  </div>
	  
	  <div  class="preloader-biographyScreen-bottom">
	    <p id="BiographyEN" style="white-space:pre-line;"></p>
	  </div>
	</div>
	<div class="col-xs-3" style="height:85vh" >
	  <img class="img-responsive img-rounded" src="assets/img/author.jpg" style="position:absolute;top:50%;transform: translate(0%, -50%);object-fit:cover;">
	</div>
      </div>
    </div>
    <div style="background:black;height:5vh">
    </div>
  </div>
</div>
